
/* header styles */
header {
    width: 100%;
    height: 6rem;
}

.div-opcoes-header {

}

.div-container {
    align-items: center; 
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100% !important; 
}

.h1-header {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--white);
    font-weight: inherit;
    font-size: 1.5rem;
    float: right;
    padding-right: 2.5rem;
    padding-top: 2rem;
    cursor: pointer;
    text-align: center;
}

.h1-header:hover {
    color: var(--light-blue);
    font-weight: 600;
}

/* footer styles */
footer {
    width: 100%;
    height: 18rem;
    margin-top: 10rem;
    background: linear-gradient(180deg, rgba(18,18,18,1) 0%, rgba(0,0,0,0.7987570028011204) 100%);
    /*background-image: linear-gradient(to bottom, #121212, black, 50%);*/
}

.div-section-footer {
    float: left;
    padding-left: 5rem;
    display: block;
    width: 30rem;
    height: 100%;
}

.h2-footer-title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--white);
    font-weight: inherit;
    font-size: 1.5rem;
    font-weight: 650;
    float: left;
    text-align: center;
}

.p-footer-attribute {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--white);
    font-weight: inherit;
    font-size: 1rem;
    font-weight: initial;
    float: left;
    padding-top: 2.5rem;
    padding-left: 1rem;
}

.div-contact-item {
    height: 5rem;
    width: 100%;
    float: left;
}

.contact-icon {
    width: 2.5rem;
    height: 2.5rem;
    float: left;
    cursor: pointer;
}

/* body styles */
.div-slider {
    width: 100%;
    height: 45rem;
    background-image: linear-gradient(#121212, rgba(0, 0, 0, 0.003) 50%, #121212),
    url('../public/img/react_wallpaper.jpg');
    background-size: 100%;
}

.img-slider {
    width: 90%;
    height: 43.5rem;
}

.h1-body-title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--white);
    font-weight: 650;
    font-size: 3rem;
    padding-top: 4rem;
}

.div-tech-list {
    width: 100% !important;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/*.div-tech-list {
    display: grid;
    grid-template-columns: repeat((300px, 1fr));
    grid-auto-flow: column;
    width: 90%;
    height: 10rem;
}*/

.language-icon {
    height: 6.25rem;
    width: 6.25rem;
    margin-top: 2rem;
    border-radius: 10px;
    cursor: pointer;
}

.div-language-desc {
    position: relative;
    height: 22rem;
}

.h1-language-title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--white);
    font-weight: 600;
    font-size: 2rem;
    padding-top: 3rem;
    padding-left: 2rem;
    text-align: center;
}

.p-language-desc {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--white);
    font-weight: initial;
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-left: 2rem;
    text-align: center;
}

.p-language-atribute {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--white);
    font-weight: 600;
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-left: 2rem;
    float: left;
}

.main-experience-bar {
    background-color: var(--white);
    width: 23rem;
    height: 1rem;
    margin-top: 4rem;
    margin-left: 2rem;
    position: absolute;
}

.experience-bar {
    background-color: var(--light-blue);
    height: 1rem;
    position: relative;
}

.div-resume {
    background-color: var(--gray-line);
    width: 100% !important;
}

.h1-resume {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--black);
    font-weight: 650;
    font-size: 2rem;
    padding-top: 3rem;
}

.p-resume {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--black);
    font-weight: 650;
    font-size: 1.5rem;
    padding-top: 3rem;
    padding-left: 4rem;
    width: 95%;
    text-align: justify;
}

.div-some-projects {
    width: 100% !important;
    box-sizing: border-box;
    display: block;
}

.div-container-project {
    margin-top: 5rem;
    margin-left: 2rem;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, 44rem);
}

.div-project-img {
    display: flex;
}

.img-project {
    float: left;
    width: 30rem;
    height: 16.875rem;
    margin-top: 0.5rem;
}

.arrow-icon {
    width: 3rem;
    height: 3rem;
    position: relative;
    margin-top: 7.5rem;
    cursor: pointer;
}

.div-project-attributes {
    float: left;
    margin-left: 1rem;
    width: 55rem;
    align-items: left;
    text-align: left;
}

.h1-project-title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--white);
    font-weight: 650;
    font-size: 2rem;
}

.p-project-desc {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--white);
    font-weight: inherit;
    font-size: 1.5rem;
    padding-top: 1rem;
    min-width: 35rem;
    max-width: 40rem;
}

@media(max-width: 640px) {
    .p-project-desc {
        max-width: 35rem;
    }
}

.h2-project-desc-title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--white);
    font-weight: 600;
    font-size: 1.8rem;
    padding-top: 0.6rem;
}

.language-icon-project {
    width: 4rem;
    height: 4rem;
    border-radius: 10px;
    margin-top: 0.8rem;
}

.a-link-project-desc {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--white);
    font-weight: 400;
    font-size: 1.3rem;
    padding-top: 0.1rem;
    text-decoration: underline;
}