<div class="project-card">
    <img [src]="imageUrl" class="card-img-top" [alt]="altDescription">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3 class="card-title mb-0">{{ title }}</h3>
        <div class="card-links">
            <a [href]="gitHubLink" target="_blank"><i class="bi bi-github"></i> Github</a>
            <a [href]="liveLink" target="_blank"><i class="bi bi-box-arrow-up-right"></i> Live Link</a>
        </div>
    </div>
    <p class="card-text">{{ description }}</p>
    <div class="tech-tags">
        <span *ngFor="let tag of techTags" class="tech-tag">
            <i [class]="tag.icon"></i>
            {{ tag.title }}
        </span>
    </div>
</div>