<section class="experience-section">
    <div class="container">
        <h2 class="section-title">Experiência Profissional</h2>
        <ul class="info-list">
            <li class="info-item">
                <img src="aelian-logo.png" alt="Logo da Aelian"
                    class="info-item-logo">
                <div class="info-item-content">
                    <p class="info-item-title">Aelian</p>
                    <p class="info-item-subtitle">Desenvolvedor de Software</p>
                </div>
                <span class="info-item-date">Jun 2023 - Atual</span>
            </li>
            <li class="info-item">
                <img src="aelian-logo.png" alt="Logo da Aelian"
                    class="info-item-logo">
                <div class="info-item-content">
                    <p class="info-item-title">Aelian</p>
                    <p class="info-item-subtitle">Estagiário de Desenvolvedor de Software</p>
                </div>
                <span class="info-item-date">Fev 2022 - Jun 2023</span>
            </li>
        </ul>
    </div>
</section>